<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Great+Vibes&family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Mystery Game</title>
    <link rel="stylesheet" href="/assets/styles.css">
</head>
<body>
    <div class="container">
        <header>
            <h1>Benvenuti al Wedding Mystery Game!</h1>
        </header>
        <div class="content">
            <img src="/assets/Couple.png" alt="Victorian Frame" class="frame">
            <p>
                Quest'oggi in questo giorno di festa abbiamo una o forse due persone che stanno cospirando per mangiarsi la buonissima 
                <strong>TORTA DELL'UNIONE</strong> da soli, e sono capaci di orribili cose pur di gustarsi questa prelibatezza solo per loro.
                Cari invitati, cercate di tenere gli occhi bene aperti e trovare gli indizi nascosti. Ogni indizio vi farà comprendere meglio
                chi sta attentando al vostro dessert. Quando sarete certi del colpevole, non esitate a puntare il dito!!!
            </p>
            {% if not assigned %}
                <form action="/select_gender" method="POST">
                    <label>
                        <input type="radio" name="gender" value="male" required> Maschio
                    </label>
                    <label>
                        <input type="radio" name="gender" value="female" required> Femmina
                    </label>
                    <button class="start-button" type="submit">Inizia il Gioco</button>
                </form>
            {% else %}
                <p>Personaggio: <strong>{{ character }}</strong></p>
                <p>Ruolo: <strong>{{ role }}</strong></p>
                <button onclick="location.href='/tasks/{{ role }}/{{ character }}'" class="start-button">Continua</button>
            {% endif %}
            <button onclick="location.href='/reset'" class="start-button">Resetta il Gioco</button>
        </div>
    </div>
</body>
</html>